body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    padding-bottom: 20px;
}

input.large, label.large {
    width: 90%;
}

input.medium {
    width: 45%;
}

input.small {
    width: 10%;
}

.robot-config {
    width:50%;
    float:left;
    padding-bottom:20px
}

.robot-stats {
    width:50%;
    display:none;
}

.robot-stats-log {
    height:350px;
    overflow-x:hidden;
    overflow-y:scroll;
    background-color: #EFEFEF;
    padding: 5px;
}

